<h1>Trainer</h1>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if @trainer.id == current_trainer.id %>
	<%= button_to "Create Pokemon", pokemons_new_path, :class => "button medium", :method => :get %>
<% end %>
<h1>Pokemon:</h1>
<% @trainer.pokemons.each do |pokemon| %>
	<h3><%= pokemon.name %></h3>
	<p>Level: <%= pokemon.level %></p>
	<p>Health: <%= pokemon.health %></p>
	<%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %>
<% end %>
